@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #80043e;
    --color-black: #0c0c0c;
    --color-blue: #3dace8;
    --color-purple: #5f01ac;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    background: var(--color-black);
}

body {
    font-family: 'Play', sans-serif;
}

/* Final das Configurações Globais */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    background: 'transparent';
    transition: all .3s ease-out;
    z-index: 2;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-white);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover {
    opacity: .8;
}

.navbar {
    max-width: 350px;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity .3s ease;
}

.navbar ul li a:hover {
    opacity: .8;
}

/* Final do Header */

#person {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-black);
}

.person-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-black);
}

.person-content div h1 {
    padding: 0px 4px;
    color: transparent;
    position: relative;
    width: fit-content;
    font-size: calc(2vw + 1.5rem);
    line-height: calc(3vw + 1.8rem);
    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1) {
    animation-delay: 1s;
}

.person-content div h1:nth-child(2) {
    animation-delay: 2s;
}

.person-content div h1:nth-child(3) {
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: var(--color-pink);
    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.person-content div h1:nth-child(1) span {
    animation-delay: .5s;
}

.person-content div h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.person-content div h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.person-name {
    margin-top: 11rem;
    padding: 0px 20px;
}

.stacks-content {
    display: flex;
    justify-content: center;

    margin: 5rem 0rem 2rem;
    flex-direction: column;

    padding: 0px 20px;
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: calc(.85vw + .5rem);
    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    
    flex-direction: row;
}

.stacks li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.stacks li img {
    width: calc(3.5vw + 0.5rem);
    height: auto;
    transition: transform .3s ease;
}

.stacks li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks li div:hover::after {
    content: attr(data);
    position: absolute;
    text-align: center;
    top: calc(5vw + 1rem);
    left: calc(1vw + 0.5rem);
    width: 50%; /*se houver problemas, voltar para 30px*/
    height: 50%; /*se houver problemas, voltar para 20px*/
    color: var(--color-white);
    font-size: 1.25vh;
}

/* small screen - person */

@media (max-width: 376px){
    .person-name {
        padding: 0px 10px;
    }

    .stacks-content {
        padding: 0px 10px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10px;
    }

    .stacks li {
        margin: 0px;
    }

    .stacks li img {
        width: calc(3.5vw + .5rem);
    }
}

/* medium screen - person */

@media (min-width: 377px) and (max-width: 768px){
    .person-name {
        padding: 0px 10px;
    }

    .stacks-content {
        padding: 0px 15px;
    }

    .stacks-content h3 {
        margin-left: 10px;
    }

    .stacks {
        margin-top: 10px;
    }

    .stacks li {
        margin: 0px;
    }

    .stacks li img {
        width: calc(3.2vw + .5rem);
    }
}

/* landscape mode - person */

@media (max-width: 1000px) and (orientation: landscape) {
    .stacks li div:hover::after {
        font-size: 1.3vw;
    }

    .stacks-content h3 {
        font-size: 1vw;
    }
}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: 
        linear-gradient(270deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: calc(1vw + 0.2rem);
    margin: 20px 15px;

    border-radius: 50%;
    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, #ffa500 0%, #ff1493 100%);
}

.profile-photo {
    max-width: 320px; 
    width: 100%;
    border-radius: 50%;
}

.links a img {
    width: calc(2vw + 0.8rem);
    height: calc(2vw + 0.8rem);

    margin: calc(0.8vw + 0.8rem);
    filter: brightness(.8);
    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);
}

@media (max-width: 767px) {
    .links a img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1440px) and (orientation: landscape) {
    .profile-photo {
        width: 45vh;
    }
}

@media (min-width: 1440px) {
    .profile-photo {
        width: 25vw;
        max-width: initial;
    }
}

/* Final do Person */

#about {
    height: 100vh;
    width: 100%;
    background: var(--color-black);
    display: flex;
    color: var(--color-white);
}

.background-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
        linear-gradient(.25turn, transparent 30%, var(--color-black)),
        linear-gradient(.5turn, transparent 30%, var(--color-black)),
        linear-gradient(1turn, transparent 65%, var(--color-black));
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--color-black);
    background: var(--color-white);
}

.box-about h3 {
    margin: 3rem;
    font-size: 2rem;
}

.box-about h3 p {
    display: inline-block;
    width: fit-content;
    padding: 2px 4px;
    margin: 2px 0;
    border-radius: 4px;
    color: var(--color-black);
    background: var(--color-pink);
}

.box-about h4 {
    margin: 1rem 3rem;
    font-size: 1.6rem;
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;
    color: var(--color-blue);
    font-size: bold;
    font-weight: 1.8rem;
}

.button-cta {
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.6rem;
    background: var(--color-white);
    text-align: center;
    width: 100%;
    max-width: 172px;
    padding: 10px;
    margin-bottom: 3rem;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    letter-spacing: .10rem;
    border-radius: 10px;
    cursor: pointer;
}

.button-cta a:hover {
    transition: all .3s ease;
    filter: brightness(.8);
}

/* Final do About */

#projects {
    height: 100vh;
    width: 100%;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
}

.projects-title h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--color-white);
}

.container-projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    height: 100%;
    width: 100%;
    max-width: 1040px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    height: 500px;
    margin-top: 2rem;
}

.card-project {
    height: 100%;
    width: 100%;
    padding: 30px 20px 20px;
    position: relative;
    background: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

    z-index: 1;
}

.card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: var(--color-purple);
    border-radius: 20px 20px 0px 0px;

    z-index: -1;
}

.image-project {
    max-height: 240px;
    max-width: 250px;

    height: 100%;
    width: 100%;

    position: relative;
    overflow: hidden;
    border-radius: 30px;
    border: 4px solid var(--color-purple);
    margin: 0 auto;
}

.image-project a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--color-white);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.image-project img:hover {
    transform: scale(1.1);
}

.card-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.8rem;
    margin: .75rem auto .5rem auto;
}

.card-project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0rem .75rem;
    text-align: center;
}

.cta-project {
    width: 200px;
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project a {
    padding: 5px 16px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-white);
    background: var(--color-purple);
    border-radius: 10px;
    text-decoration: none;
    transition: opacity .3s ease;
}

.cta-project a:hover {
    opacity: .7;
}

/* Final do Projects */

#contacts {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background: var(--color-black);

    color: var(--color-white);
}

.contact-icon-content h2 {
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;
    font-size: 3rem;
    color: var(--color-white);
}

.contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-blue);
}

.contact-info span {
    font-size: 1.6rem;
    font-weight: bold;
}

.contact-info a {
    display: block;
    font-size: 1.2rem;
    margin: .25rem 0rem;
    text-decoration: none;
    color: var(--color-white);
}

.contact-info a:hover {
    transition: color .3s ease;
    color: var(--color-blue);
}

/* Final do Contacts */

#footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #191919;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}

.container-footer h2 {
    font-size: 1.7rem;
}

.container-footer h3 {
    font-size: 1.2rem;
}

/* Final do Footer */

@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}

@keyframes written_text_name {
    100% {
        color: var(--color-blue);
    }
}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

/* Final do Animations */